---
import ArtCard from '@/components/ArtCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import PillNavBar from '@/components/PillNavBar.astro'
import { PROJECT_NAV_LINKS } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getAllArt } from '@/lib/data-utils'

const art = await getAllArt()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Art" />
  <Breadcrumbs items={[{ label: 'Art', icon: 'lucide:palette' }]} />
  <PillNavBar items={PROJECT_NAV_LINKS} class="mx-auto mb-0 flex w-fit" />
  {
    art.length > 0 ? (
      <div class="grid grid-cols-2 gap-3 md:grid-cols-3 md:gap-4 lg:grid-cols-4">
        {art.map((piece) => (
          <ArtCard piece={piece} />
        ))}
      </div>
    ) : (
      <p class="text-muted-foreground text-center">No art found.</p>
    )
  }
</Layout>
