---
import PillNavBar from '@/components/PillNavBar.astro'
import SearchButton from '@/components/react/SearchButton'
import ThemeToggle from '@/components/ThemeToggle.astro'
import MobileMenu from '@/components/ui/mobile-menu'
import { NAV_LINKS } from '@/consts'
---

<header
  class="bg-background/50 sticky top-0 z-10 backdrop-blur-md"
  transition:persist
>
  <div
    class="mx-auto flex max-w-3xl flex-wrap items-center justify-between gap-4 px-4 py-1"
  >
    <a
      href="/"
      class="flex shrink-0 items-center gap-2 self-stretch text-xl font-medium"
      data-astro-reload
    >
      <img
        src="/static/cat_white.png"
        alt="Logo"
        class="hidden h-[80%] w-auto transition-transform duration-200 hover:scale-105 dark:block"
        loading="eager"
        fetchpriority="high"
        transition:persist="logo-dark"
      />
      <img
        src="/static/cat_black.png"
        alt="Logo"
        class="block h-[80%] w-auto transition-transform duration-200 hover:scale-105 dark:hidden"
        loading="eager"
        fetchpriority="high"
        transition:persist="logo-light"
      />
      <!-- <span class="hidden min-[400px]:block">{SITE.title}</span> -->
    </a>
    <div class="flex items-center gap-2 md:gap-4">
      <PillNavBar items={NAV_LINKS} class="hidden md:flex" transition:persist="nav-main" />
      <div class="bg-border/60 hidden h-6 w-px md:block" aria-hidden="true">
      </div>
      <SearchButton client:idle />
      <MobileMenu client:idle transition:persist />
      <ThemeToggle transition:persist />
    </div>
  </div>
</header>
